.button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
    min-width: 110px;
    width: fit-content;
    justify-content: center;
    flex-shrink: 0;
    background-color: #1E1E1E;
    padding: 10px 20px;
    margin-top: auto;
    border: 3px solid #C595FF;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
