.cursor {
    z-index: 200;
    width: 40px;
    aspect-ratio: 1/1;
    position: fixed;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid grey;
    pointer-events: none;
    overflow: hidden;
    mix-blend-mode: luminosity;
    transition: background-color 0.5s, width 0.5s ease-in-out;
  }

  /*  Stop displaying the cursor if there is no mouse */
@media (pointer: coarse) {
    .cursor {
      display: none;
    }
}