.menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #121212;
    overflow-x: hidden;
    transition: 0.4s ease-in;
}

.menu-content-wrapper {
    margin: 0 10px;
    width: 100%;
    margin-top: 76px;
    min-height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-item {
    width: 100%;
    max-height: 16%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.menu-item h2 {
    display: block;
    color: white;
    font-size: 120px;
    margin: 0;
    font-weight: 900;
    padding: 0;
}

.menu-item span {
    color: #C595FF;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.menu-icon-container {
    display: flex;
    flex-direction: column;
    width: 40px;
    padding: 10px;
    gap: 30px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
}

.menu-item-icon {
    width: 100%;
    height: 100%;
}


/* Extra Small (XS) - Mobile Phones */
@media (max-width: 575px) {
    .menu-item h2 {
        display: block;
        color: white;
        font-size: 30px;
        margin: 0;
        font-weight: 900;
        padding: 0;
    }
    
    .menu-item span {
        color: #C595FF;
        font-size: 15px;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

/* Small (SM) - Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .menu-item h2 {
        display: block;
        color: white;
        font-size: 65px;
        margin: 0;
        font-weight: 900;
        padding: 0;
    }
    
    .menu-item span {
        color: #C595FF;
        font-size: 15px;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

/* Medium (MD) - Tablets and Small Laptops */
@media (min-width: 768px) and (max-width: 991px) {
    .menu-item h2 {
        display: block;
        color: white;
        font-size: 70px;
        margin: 0;
        font-weight: 900;
        padding: 0;
    }
    
    .menu-item span {
        color: #C595FF;
        font-size: 15px;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

/* Large (LG) - Desktops and Larger Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .menu-item h2 {
        display: block;
        color: white;
        font-size: 75px;
        margin: 0;
        font-weight: 900;
        padding: 0;
    }
    
    .menu-item span {
        color: #C595FF;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1200px) and (max-width: 1599px){
    .menu-item h2 {
        display: block;
        color: white;
        font-size: 80px;
        margin: 0;
        font-weight: 900;
        padding: 0;
    }
    
    .menu-item span {
        color: #C595FF;
        font-size: 16px;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1600px) and (max-width: 1919px){
    .menu-item h2 {
        display: block;
        color: white;
        font-size: 100px;
        margin: 0;
        font-weight: 900;
        padding: 0;
    }
    
    .menu-item span {
        color: #C595FF;
        font-size: 17px;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1920px) {
    .menu-item h2 {
        display: block;
        color: white;
        font-size: 120px;
        margin: 0;
        font-weight: 900;
        padding: 0;
    }
    
    .menu-item span {
        color: #C595FF;
        font-size: 18px;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

/* Orientation Changes (Portrait and Landscape) */
@media (orientation: portrait) {
    .menu-content-wrapper {
        margin: 0 10px;
        width: 100%;
        margin-top: 76px;
        min-height: calc(100vh - 76px);
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        gap: 15px;
    }
    .menu-icon-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0px;
        padding-bottom: 10px;
        bottom: 0%;
        opacity: 0%;
        transition: opacity 0.5s ease-in-out;
    }
    .menu-item-icon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (orientation: landscape) {
    
}