.project-screen {
    margin-top: 300px;
    padding: 0 15px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.text-separator {
    color: var(--main-light-purple)!important;
}

.project-screen-text {
    z-index: 1;
    width: 100%;
    mix-blend-mode: exclusion;
    box-sizing: border-box;
}

.project-screen-text>h3 {
    color: var(--main-light-purple);
    font-size: var(--fs-index);
    font-weight: 400;
    margin: 0;
}

.project-screen-text>h1 {
    color: white;
    font-size: var(--fs-big-header);
    font-weight: 900;
    margin: 0;
}

.project-screen-text>p {
    color: white;
    font-size: 16px;
    font-style: normal;
    max-width: 600px;
    width: 50%;
    font-weight: 300;
}

#image-scroller {
    overflow: visible;
    width: 300vw;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    user-select: none;
}

.image-container {
    overflow: visible;
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 120vmin;
}

.image-container span {
    color: white;
    font-size: 12px;
    font-weight: 300;
}

.image {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.2s ease-in;
}

/* Orientation Changes (Portrait and Landscape) */
@media (orientation: portrait) {
    .project-screen {
        margin-top: 150px;
        padding: 0 0;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    #image-scroller {
        padding: 0 15px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        user-select: none;
    }
    .project-screen-text > p{
        width: 100%;
    }

    .project-screen-text {
        padding: 0 15px;
    }

    .image-container {
        overflow: visible;
        z-index: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (orientation: landscape) {
    #image-scroller {
        overflow: visible;
        width: 300vw;
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        user-select: none;
    }
}