.logo {
    aspect-ratio: 1 / 1;
    width: 52px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(240deg) brightness(101%) contrast(101%);
}

.menu-icon {
    width: 52px;
    aspect-ratio: 1 / 1;
    overflow-y: hidden;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(240deg) brightness(101%) contrast(101%);
}

#menu-icon svg {
  width: 100%;
  height: auto;
}

#menu-icon path {
  width: 100%;
  height: auto;
}

.top-bar {
    z-index: 99;
    padding: 0 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: transparent;
}

/* Extra Small (XS) - Mobile Phones */
@media (max-width: 575px) {
    .logo {
        aspect-ratio: 1 / 1;
        width: 42px;
    }
    
    .menu-icon {
        aspect-ratio: 1 / 1;
        width: 42px;
    }
}

/* Medium (MD) - Tablets and Small Laptops */
@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        aspect-ratio: 1 / 1;
        width: 42px;
    }
    
    .menu-icon {
        aspect-ratio: 1 / 1;
        width: 42px;
    }
}

/* Orientation Changes (Portrait and Landscape) */
@media (orientation: portrait) {
    .top-bar {
        background-color: var(--main-background);
    }
}