@import url("https://use.typekit.net/avm1zpu.css");

* {
    cursor: none;
    user-select: none;
    box-sizing: border-box;
}

html,
body {
    --main-background: #E7DED7;
    --main-secondary-background: #d3c1b3;
    --main-header: #000000;
    --main-dark: #000000;
    --main-light-orange: #ff8800;
    --main-white: #ffffff;
    --main-sub: #ffffff;

    --fs-big-header: 7rem;
    --fs-small-header: 2rem;
    --fs-index: 52px;

    margin: 0;
    width: 100vw;
    font-family: joly-text, sans-serif;
    background-color: var(--main-background);
    overflow-x: hidden;
}

.main-wrapper {
    width: 100%;
}

.noise-texture {
    position: fixed;
    filter: url("#noise");
    opacity: 0%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.content-wrapper {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.circle {
    aspect-ratio: 1 /1;
    background-color: #ff8800;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    filter: blur(130px);
    top: 50%;
    left: 50%;
}

.home-screen {
    width: 100%;
    height: 100vh;
}

.primary-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.header-container :nth-child(1) {
    display: flex;
    color: var(--main-light-orange);
    font-size: var(--fs-small-header);
    font-style: italic;
    font-weight: 200;
    height: 100%;
    z-index: 2;
    line-height: var(--bs-body-line-height);
    margin: 0;
}

.header-container :nth-child(2) {
    display: flex;
    margin: 20px 0;
    font-size: var(--fs-big-header);
    background-color: transparent;
    color: var(--main-header);
    font-weight: 800;
    z-index: 1;
    line-height: var(--bs-body-line-height);
    margin: 0;
}

.header-container :nth-child(3) {
    display: flex;
    color: var(--main-light-orange);
    justify-content: end;
    font-size: var(--fs-small-header);
    font-weight: 200;
    font-style: italic;
    line-height: var(--bs-body-line-height);
    margin: 0;
}

.home-screen-mobile {
    margin-top: 72px;
    background-color: var(--main-background);
    display: none;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-text {
    color: white;
    padding: 15px;
}

.mobile-text h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
}

.mobile-text h1 {
    padding: 0;
    margin: 5px 0;
    font-size: 40px;
    font-weight: 800;
}

.mobile-text p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

.mobile-text span {
    color: var(--main-light-orange);
}

.mobile-image-container {
    width: 100%;
    align-content: center;
}

.mobile-image-container img {
    width: 100%;
}

.container {
    z-index: 1;
}


/* Extra Small (XS) - Mobile Phones */
@media (max-width: 575px) {

    html,
    body {
        --fs-big-header: 3rem;
        --fs-small-header: 1.3rem;
        --fs-index: 18px;
    }
}

/* Small (SM) - Tablets */
@media (min-width: 576px) and (max-width: 767px) {

    html,
    body {
        --fs-big-header: 3rem;
        --fs-small-header: 1.3rem;
        --fs-index: 18px;
    }
}

/* Medium (MD) - Tablets and Small Laptops */
@media (min-width: 768px) and (max-width: 991px) {

    html,
    body {
        --fs-big-header: 3.5rem;
        --fs-small-header: 1rem;
        --fs-index: 20px;
    }
}

/* Large (LG) - Desktops and Larger Laptops */
@media (min-width: 992px) and (max-width: 1199px) {

    html,
    body {
        --fs-big-header: 4rem;
        --fs-small-header: 1.5rem;
        --fs-index: 24px;
    }
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1200px) and (max-width: 1599px) {

    html,
    body {
        --fs-big-header: 5.5rem;
        --fs-small-header: 1.4rem;
        --fs-index: 36px;
    }
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1600px) and (max-width: 1919px) {

    html,
    body {
        --fs-big-header: 7rem;
        --fs-small-header: 2rem;
        --fs-index: 42px;
    }
}

/* Extra Large (XL) - Large Desktops and Beyond */
@media (min-width: 1920px) {

    html,
    body {
        --fs-big-header: 8rem;
        --fs-small-header: 2.5rem;
        --fs-index: 52px;
    }
}